.login-container {
  .header {
    text-align: right;
    margin-top: 8px;
    padding: 0 100px;
    .regis-btn {
      border: none;
      border-radius: 5px;
      padding: 5px 10px;
      transition: 0.5s;
      margin: 0 10px;
      background-color: #79acac;
      color: #fffbfb;
      &:hover {
        background-color: rgb(65, 188, 179);
      }
    }
  }
  .title {
    font-size: 2rem;
    font-weight: 600;
  }
  .welcome {
    font-size: 1.5rem;
    font-weight: 500;
    color: rgb(65, 188, 179);
    margin-bottom: 10px;
  }
  .content-form {
    width: 400px;
    .form-group {
      margin: 20px 0;
      label {
        margin-bottom: 5px;
      }
    }
    .login-btn {
      width: 100%;
      border: none;
      border-radius: 5px;
      padding: 10px 15px;
      transition: 0.5s;
      margin-bottom: 10px;
      &:hover {
        background-color: aqua;
      }
      &:disabled {
        background: #dddddd;
        color: #afafaf;
        cursor: no-drop;
      }
    }
    .forgot-password {
      cursor: pointer;
      display: inline-block;
      margin-bottom: 10px;
      &:hover {
        color: rgb(65, 188, 179);
      }
    }
    .back {
      span {
        cursor: pointer;
        &:hover {
          color: rgb(65, 188, 179);
        }
      }
    }
    .loaderIcon {
      margin-right: 7px;
      top: 2px;
      animation: spin 1s infinite linear;
    }

    @keyframes spin {
      from {
        transform: scale(1) rotate(0deg);
      }
      to {
        transform: scale(1) rotate(360deg);
      }
    }
  }
}
